---
http_interactions:
- request:
    method: get
    uri: https://api.stormglass.io/v1/weather/point?end=2019-08-09T02:18:14%2B00:00&lat=1.0&lng=1.0&start=2019-08-04%2002:18:14%20UTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 6c621cd4-a2d0-11e9-afdd-0242ac130004-6c621e3c-a2d0-11e9-afdd-0242ac130004
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"hours":[{"airTemperature":[{"source":"sg","value":23.55},{"source":"noaa","value":23.55}],"cloudCover":[{"source":"sg","value":79.67},{"source":"noaa","value":79.67}],"currentDirection":[{"source":"sg","value":92.72},{"source":"meto","value":92.72}],"currentSpeed":[{"source":"sg","value":0.53},{"source":"meto","value":0.53}],"gust":[{"source":"sg","value":7.74},{"source":"noaa","value":7.74}],"humidity":[{"source":"sg","value":83.6},{"source":"noaa","value":83.6}],"precipitation":[{"source":"sg","value":0.15},{"source":"noaa","value":0.15}],"pressure":[{"source":"sg","value":1015.24},{"source":"noaa","value":1015.24}],"seaLevel":[{"source":"sg","value":0.4}],"swellDirection":[{"source":"sg","value":178.39},{"source":"meteo","value":178.39},{"source":"icon","value":189.24},{"source":"noaa","value":214.79}],"swellHeight":[{"source":"sg","value":1.27},{"source":"meteo","value":1.27},{"source":"icon","value":1.81},{"source":"noaa","value":0.56}],"swellPeriod":[{"source":"sg","value":8.86},{"source":"meteo","value":8.86},{"source":"icon","value":10.75},{"source":"noaa","value":15.16}],"time":"2019-08-04T02:00:00+00:00","visibility":[{"source":"sg","value":24.14},{"source":"noaa","value":24.14}],"waterTemperature":[{"source":"sg","value":25.85},{"source":"meto","value":25.85},{"source":"noaa","value":24.97}],"waveDirection":[{"source":"sg","value":186.95},{"source":"meteo","value":186.95},{"source":"icon","value":188.76},{"source":"noaa","value":177.0}],"waveHeight":[{"source":"sg","value":1.71},{"source":"meteo","value":1.71},{"source":"icon","value":1.85},{"source":"noaa","value":1.81}],"wavePeriod":[{"source":"sg","value":5.97},{"source":"meteo","value":5.97},{"source":"noaa","value":12.72}],"windDirection":[{"source":"sg","value":174.8},{"source":"noaa","value":184.37},{"source":"icon","value":174.8}],"windSpeed":[{"source":"sg","value":5.59},{"source":"noaa","value":7.14},{"source":"icon","value":5.59}],"windWaveDirection":[{"source":"sg","value":180.01},{"source":"meteo","value":180.01},{"source":"icon","value":176.21},{"source":"noaa","value":187.83}],"windWaveHeight":[{"source":"sg","value":0.42},{"source":"meteo","value":0.42},{"source":"icon","value":0.4},{"source":"noaa","value":1.33}],"windWavePeriod":[{"source":"sg","value":2.6},{"source":"meteo","value":2.6},{"source":"icon","value":2.73},{"source":"noaa","value":10.04}]},{"airTemperature":[{"source":"sg","value":23.46},{"source":"noaa","value":23.46}],"cloudCover":[{"source":"sg","value":79.5},{"source":"noaa","value":79.5}],"currentDirection":[{"source":"sg","value":94.02},{"source":"meto","value":94.02}],"currentSpeed":[{"source":"sg","value":0.53},{"source":"meto","value":0.53}],"gust":[{"source":"sg","value":7.71},{"source":"noaa","val[...]
