---
http_interactions:
- request:
    method: get
    uri: https://api.stormglass.io/v1/weather/point?end=2019-08-09T02:18:07%2B00:00&lat=-8.720425&lng=115.169207&start=2019-08-04%2002:18:07%20UTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 6c621cd4-a2d0-11e9-afdd-0242ac130004-6c621e3c-a2d0-11e9-afdd-0242ac130004
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"hours":[{"airTemperature":[{"source":"sg","value":24.45},{"source":"noaa","value":24.45}],"cloudCover":[{"source":"sg","value":1.33},{"source":"noaa","value":1.33}],"currentDirection":[{"source":"sg","value":118.95},{"source":"meto","value":118.95}],"currentSpeed":[{"source":"sg","value":0.05},{"source":"meto","value":0.05}],"gust":[{"source":"sg","value":9.17},{"source":"noaa","value":9.17}],"humidity":[{"source":"sg","value":72.33},{"source":"noaa","value":72.33}],"precipitation":[{"source":"sg","value":0.1},{"source":"noaa","value":0.1}],"pressure":[{"source":"sg","value":1015.02},{"source":"noaa","value":1015.02}],"seaLevel":[{"source":"sg","value":1.89}],"swellDirection":[{"source":"sg","value":187.51},{"source":"icon","value":190.68},{"source":"meteo","value":187.51},{"source":"noaa","value":227.3}],"swellHeight":[{"source":"sg","value":1.51},{"source":"icon","value":2.69},{"source":"meteo","value":1.51},{"source":"noaa","value":0.34}],"swellPeriod":[{"source":"sg","value":9.94},{"source":"icon","value":11.83},{"source":"meteo","value":9.94},{"source":"noaa","value":19.78}],"time":"2019-08-04T02:00:00+00:00","visibility":[{"source":"sg","value":24.14},{"source":"noaa","value":24.14}],"waterTemperature":[{"source":"sg","value":24.15},{"source":"meto","value":24.15},{"source":"noaa","value":25.04}],"waveDirection":[{"source":"sg","value":170.03},{"source":"icon","value":188.87},{"source":"meteo","value":170.03},{"source":"noaa","value":219.4}],"waveHeight":[{"source":"sg","value":2.42},{"source":"icon","value":2.73},{"source":"meteo","value":2.42},{"source":"noaa","value":2.33}],"wavePeriod":[{"source":"sg","value":6.95},{"source":"meteo","value":6.95},{"source":"noaa","value":15.24}],"windDirection":[{"source":"sg","value":117.36},{"source":"icon","value":117.36},{"source":"noaa","value":105.63}],"windSpeed":[{"source":"sg","value":5.81},{"source":"icon","value":5.81},{"source":"noaa","value":8.34}],"windWaveDirection":[{"source":"sg","value":130.21},{"source":"icon","value":116.51},{"source":"meteo","value":130.21},{"source":"noaa","value":159.0}],"windWaveHeight":[{"source":"sg","value":0.55},{"source":"icon","value":0.42},{"source":"meteo","value":0.55},{"source":"noaa","value":1.83}],"windWavePeriod":[{"source":"sg","value":3.34},{"source":"icon","value":2.93},{"source":"meteo","value":3.34},{"source":"noaa","value":9.44}]},{"airTemperature":[{"source":"sg","value":24.46},{"source":"noaa","value":24.46}],"cloudCover":[{"source":"sg","value":1.0},{"source":"noaa","value":1.0}],"currentDirection":[{"source":"sg","value":119.88},{"source":"meto","value":119.88}],"currentSpeed":[{"source":"sg","value":0.05},{"source":"meto","value":0.05}],"gust":[{"source":"sg","value":8.91},{"source":"noaa","va[...]
