---
http_interactions:
- request:
    method: get
    uri: https://api.stormglass.io/v1/tide/extremes/point?end=2019-08-09T02:18:12%2B00:00&lat=-8.720425&lng=115.169207&start=2019-08-04%2002:18:12%20UTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 6c621cd4-a2d0-11e9-afdd-0242ac130004-6c621e3c-a2d0-11e9-afdd-0242ac130004
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"extremes":[{"height":2.196019933554817,"timestamp":"2019-08-04 04:12:40+00:00","type":"high"},{"height":-0.3639800664451827,"timestamp":"2019-08-04
        10:32:20+00:00","type":"low"},{"height":1.8460199335548173,"timestamp":"2019-08-04
        16:50:02+00:00","type":"high"},{"height":-0.013980066445182723,"timestamp":"2019-08-04
        22:33:52+00:00","type":"low"},{"height":2.056019933554817,"timestamp":"2019-08-05
        04:52:51+00:00","type":"high"},{"height":-0.25398006644518273,"timestamp":"2019-08-05
        11:06:54+00:00","type":"low"},{"height":1.876019933554817,"t[...]
