---
http_interactions:
- request:
    method: get
    uri: https://api.stormglass.io/v1/tide/extremes/point?end=2019-08-09T10:32:34%2B00:00&lat=1.0&lng=1.0&start=2019-08-04%2010:32:34%20UTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 6c621cd4-a2d0-11e9-afdd-0242ac130004-6c621e3c-a2d0-11e9-afdd-0242ac130004
  response:
    status:
      code: 402
      message: PAYMENT REQUIRED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":{"key":"API quota exceeded"},"meta":{"dailyQuota":50,"requestCount":51}}

        '
  recorded_at: Sun, 04 Aug 2019 10:32:36 GMT
recorded_with: VCR 5.0.0
