---
http_interactions:
- request:
    method: get
    uri: https://api.stormglass.io/v1/tide/extremes/point?end=2019-08-09T03:12:15%2B00:00&lat=1.0&lng=1.0&start=2019-08-04%2003:12:15%20UTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 6c621cd4-a2d0-11e9-afdd-0242ac130004-6c621e3c-a2d0-11e9-afdd-0242ac130004
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"extremes":[{"height":1.4526178571428572,"timestamp":"2019-08-04 06:40:10+00:00","type":"high"},{"height":0.052617857142857105,"timestamp":"2019-08-04
        12:29:41+00:00","type":"low"},{"height":1.282617857142857,"timestamp":"2019-08-04
        18:42:26+00:00","type":"high"},{"height":-0.13738214285714284,"timestamp":"2019-08-05
        00:41:25+00:00","type":"low"},{"height":1.4126178571428571,"timestamp":"2019-08-05
        07:30:12+00:00","type":"high"},{"height":0.11261785714285716,"timestamp":"2019-08-05
        13:22:26+00:00","type":"low"},{"height":1.1726178571428572,"t[...]
