---
http_interactions:
- request:
    method: get
    uri: https://api.stormglass.io/v1/tide/extremes/point?end=2019-08-10T08:47:59%2B00:00&lat=1.0&lng=1.0&start=2019-08-05%2008:47:59%20UTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 6c621cd4-a2d0-11e9-afdd-0242ac130004-6c621e3c-a2d0-11e9-afdd-0242ac130004
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"extremes":[{"height":0.11261785714285716,"timestamp":"2019-08-05
        13:22:26+00:00","type":"low"},{"height":1.1726178571428572,"timestamp":"2019-08-05
        19:35:42+00:00","type":"high"},{"height":-0.027382142857142855,"timestamp":"2019-08-06
        01:28:18+00:00","type":"low"},{"height":1.342617857142857,"timestamp":"2019-08-06
        08:21:32+00:00","type":"high"},{"height":0.1826178571428571,"timestamp":"2019-08-06
        14:19:09+00:00","type":"low"},{"height":1.042617857142857,"timestamp":"2019-08-06
        20:32:54+00:00","type":"high"},{"height":0.10261785714285715,"tim[...]
