<% if object.errors.any? %>
  <div class="alert alert-block alert-danger fade in">
    <p><strong>This form contains <%= pluralize(object.errors.count, 'error') %>.</strong></p>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>  
<% end %>    