- if object.errors.any?
  .alert.alert-block.alert-danger.fade.in
    %p
      %strong
        This form contains #{pluralize(object.errors.count, 'error')}.
    %ul
      - object.errors.full_messages.each do |msg|
        %li= msg
