<div class="container">
  <% if flash[:notice] %>
      <div class="alert alert-success fade in">
        <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
        </button>
        <strong>Well done!</strong> <%= flash[:notice] %>
      </div>
  <% end %>
  <% if flash[:error] %>
      <div class="alert alert-block alert-danger fade in">
        <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
        </button>
        <strong>Oh snap!</strong> <%= flash[:error] %>
      </div>               
  <% end %>  
  <% if flash[:alert] %>
      <div class="alert alert-block alert-danger fade in">
        <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
        </button>
        <strong>Oh snap!</strong> <%= flash[:alert] %>
      </div>               
  <% end %>  
  <% if flash[:warning] %>
      <div class="alert alert-warning">
        <strong>Oh snap!</strong> <%= flash[:warning] %>
      </div>               
  <% end %>  
</div>