.container
	- if flash[:notice]
		.alert.alert-primary.mt-3{:role => 'alert'}
			%strong Well done!
			= flash[:notice]
	- if flash[:error]
		.alert.alert-danger.mt-3{:role => 'alert'}
			%button.close.close-sm{"data-dismiss" => "alert", :type => "button"}
				%i.icon-remove
			%strong Oh snap!
			= flash[:error]
	- if flash[:alert]
		.alert.alert-danger.mt-3{:role => 'alert'}
			%button.close.close-sm{"data-dismiss" => "alert", :type => "button"}
				%i.icon-remove
			%strong Oh snap!
			= flash[:alert]
	- if flash[:warning]
		.alert.alert-warning.mt-3{:role => 'alert'}
			%strong Oh snap!
			= flash[:warning]