.carousel.slide#carouselSlidesOnly
  .carousel-inner
    .carousel-item.active.first-image
      %h1.mx-1.display-3 Check the surf
    .carousel-item.second-image
      %h1.mx-1.display-3 At any time
    .carousel-item.third-image
      %h1.mx-1.display-3 point of view
    .carousel-item.fourth-image
      %h1.mx-1.display-3 all the spots
    .carousel-item.fifth-image
      %h1.mx-1.display-3 and much more
    .carousel-item.sixth-image
      %h1.mx-1.display-3 cool staff
