<section id="video-container">   
  <%#= video_tag ["runner.webm","runner.mp4"], autoplay: true, loop: true, muted: true, preload: "none", poster: "runner.png", class: "hidden-md hidden-lg" %>
  <video autoplay="true", loop="true", muted="true", preload="none", poster="https://surfcheck.s3.eu-central-1.amazonaws.com/webpage/surfcheck-landing-poster.png">
    <source src="https://surfcheck.s3.eu-central-1.amazonaws.com/webpage/surfcheck-landing.mp4" type="video/mp4">
    <source src="https://surfcheck.s3.eu-central-1.amazonaws.com/webpage/surfcheck-landing.webm" type="video/webm">
    <source src="https://surfcheck.s3.eu-central-1.amazonaws.com/webpage/surfcheck-landing.ogv" type="video/ogv">
  </video>
  <div class="centered px-5">
    <h1>SurfCheck</h1>
    <p class="lead text-center">SurfCheck is an app that allows you to see the surf at different times of the day from different point of view. It is aimed to get the best information about the surf quality at a certain time.</p>
    <div class="row d-flex justify-content-around align-items-center">
      <a href='https://play.google.com/store/apps/details?id=com.surfapp&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
        <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' class="android"/>
      </a>
      <!--div class="col-3 d-none d-sm-block text-center">
        <%#= link_to "Try it", posts_path(per_page: 10), class: "btn btn-purple btn-lg px-4", id: "posts_path" %>
        </br>
        <p class="d-none d-sm-block">Download it for Iphone and Android!</p>
      </div-->
      <a href='https://apps.apple.com/us/app/surfcheck/id1477072496?ls=1'><img src="https://portfoliofabrizio.s3.eu-central-1.amazonaws.com/download_on_itunes.svg" class="ios"></a>
    </div>
  </div>
</section>
