// This file contains mixins 

// change colors
@mixin colors($color: black, $background-color: white) {
  color: $color;
  background-color: $background-color;
}

@mixin btnColor($color: white, $border: 1px solid white) {
  color: $color;
  border: $border;
}

// font size in em
@mixin fontSize($size) { font-size: $size + em; }

// background settings
@mixin backgroundSettings($size, $position, $max-height: 100%) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size; 
  background-position: $position;
  max-height: $max-height;  
}

// positioning settings
@mixin positionElement($top: 50%, $text-align: center){
  position: relative;
  top: $top;
  transform: translateY(-50%);
  text-align: $text-align;  
}

// mixin for changing the carousel text in different screens
@mixin fontDisplay($font-size) {
  .display-3 {
    font-size: $font-size + rem;
  }
}

// setting backgroundImages in @each loo posts.scss:40
@mixin backgroundImage($class, $path, $image-name) {
  .#{$class}-image {
    background-image: image-url('#{$path}#{$image-name}.JPG');
  }
}
