.carousel.slide.mh-100#carouselSlidesOnly{:data => {:ride => 'carousel'}}
  .carousel-inner
    .carousel-item.active.first-image
      %h1.mx-1.display-3.effect Check the surf
    .carousel-item.second-image
      %h1.mx-1.display-3.effect At any time
    .carousel-item.third-image
      %h1.mx-1.display-3.effect point of view
    .carousel-item.fourth-image
      %h1.mx-1.display-3.effect all the spots
    .carousel-item.fifth-image
      %h1.mx-1.display-3.effect and much more
    .carousel-item.sixth-image
      %h1.mx-1.display-3.effect cool staff