.container
	%h1 Display Post Picture
	%p
		%strong Description:
		= @post.description
	= image_tag @post.picture.url.to_s, class:'img-fluid'
	= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary btn-lg'
	= link_to 'Back', :back, class: 'btn btn-primary btn-lg'