---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=AIzaSyCa8nDFLUHdrnlsSS4MC4_H1DjfkpBo6MY&location=-8.745124,115.150323&timestamp=1564971214
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "dstOffset" : 0,
           "rawOffset" : 28800,
           "status" : "OK",
           "timeZoneId" : "Asia/Makassar",
           "timeZoneName" : "Central Indonesia Time"
        }
  recorded_at: Mon, 05 Aug 2019 02:13:35 GMT
recorded_with: VCR 5.0.0
