// All the styles related to the posts controller
.container {
	margin-top: 1rem;
}

// file input posts#new

// label.custom-file {
// 	span.custom-file-control {
// 		color: white;
// 	}
// }

// posts#show 

img {
  margin-bottom: 1rem;
}

.map {
  height: 300px;
  width: 300px;
  background-size: cover;
  border: 1px solid rgb(90, 97, 103);
  border-radius: 7px;
  .arrow { margin: 50px 50px; }
  .wind-arrow { 
    z-index: 1; 
  }
  .wave-arrow { 
    position: absolute;
    top: 5;
    left: 14px;
    z-index: 2;
  }
}

.arrow-small { height: 25px; } 

// posts#index and pictures
i.fixed-bottom {
	right: 4%;
	left: initial;
	bottom: 2%;
}
